@using MvcJqDataTables
@using MvcJqDataTables.Enums
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript">
        executeSearch = function () {
            console.log("ext-search");
        }

        externalSearch_frmSearchPost = function () {
            var paramStr = $("#frmSearchPost").serialize();
            console.log(paramStr);
            return $("#frmSearchPost").serialize();
        }


        srcFunction = function(json) {
            for (var i = 0, ien = json.data.length; i < ien; i++) {
                json.data[i].unshift(i + 1 + json.start);
            }
            return json.data;
        };
        
    </script>
}

<div class="jumbotron">
    <h1>MvcJqDataTables</h1>
    <p class="lead">MvcJqDataTables is a library building DataTables for ASP.NET MVC Application using HtmlHelper.</p>
    <p><a href="https://github.com/dfChicken/MvcJqDataTables" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<form id="frmSearchPost">
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group">
                <div class="col-xs-4">
                    <label for="Id">Id</label>
                </div>
                <div class="col-xs-8">
                    <input class="form-control" id="Id" name="Id" type="number" value="">
                    <span class="field-validation-valid" data-valmsg-for="Id" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group">
                <div class="col-xs-4">
                    <label for="Name">Name</label>
                </div>
                <div class="col-xs-8">
                    <input class="form-control" id="Name" name="Name" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" onclick="executeSearch();"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        @{
            var dataTable = new DataTable("SearchResultTable")
                .SetUrl(Url.Action("GetTestData"))
                .AddColumn(new Column("No").SetTitle(" ").SetOrderable(false).SetWidth("6%").SetClassName("text-center"))
                .AddColumn(new Column("Id").SetWidth("10%"))
                .AddColumn(new Column("Name"))
                .AddColumn(new Column("Description"))
                .AddColumn(new Column("Action").SetTitle("Action").SetOrderable(false))
                .SetLengthMenu(new[] {5, 10, 15, 20, 50}).SetPageLength(10)
                .SetDataSrc("srcFunction")
                .SetOrder(new List<Order>()
                {
                    new Order(1, OrderDirection.Asc)
                })
                .AddExtraParameters(new List<Parameter>()
                {
                    new DataParameter("cc", "coincard"),
                    new FunctionParameter("cc2", "executeSearch")
                });
        }

        @(Html.DataTable(dataTable))

    </div>
</div>
<script type="text/javascript">

</script>