@using MvcJqDataTables
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript">
        cc = function (d) {
            console.log("hay lam dit me may`");
            return "hay lam dit me may`";
        }
    </script>
}

<div class="jumbotron">
    <h1>MvcJqDataTables</h1>
    <p class="lead">MvcJqDataTables is a library building DataTables for ASP.NET MVC Application using HtmlHelper.</p>
    <p><a href="https://github.com/dfChicken/MvcJqDataTables" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @(Html.DataTable("SearchResultTable")
                      .SetUrl(Url.Action("GetTestData"))
                      .AddColumn(new Column("Id"))
                      .AddColumn(new Column("Name"))
                      .AddColumn(new Column("Description"))
                      .AddExtraParameters(new List<Parameter>
                      {
              new DataParameter("cc", "hay lam dit me may"),
              new DataParameter("uid", "hay lam dit me may"),
              new FunctionParameter("user_id", "cc")
                      })
        )
    </div>
</div>