@using MvcJqDataTables
@using MvcJqDataTables.Enums
@{
    ViewBag.Title = "Home Page";
    var s = new Guid().ToString();
}

@section scripts
{
    <script type="text/javascript">
        cc = function( row, data, dataIndex ) {
//            var id = "@s";
//            console.log(id);
//            console.log(data.Action);
        }
    </script>
}

<div class="jumbotron">
    <h1>MvcJqDataTables</h1>
    <p class="lead">MvcJqDataTables is a library building DataTables for ASP.NET MVC Application using HtmlHelper.</p>
    <p><a href="https://github.com/dfChicken/MvcJqDataTables" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @(Html.DataTable("SearchResultTable")
              .SetUrl(Url.Action("GetTestData"))
              .AddColumn(new Column("Id").SetWidth("10%"))
              .AddColumn(new Column("Name").SetOrderData(new List<int>(){1,2,3}))
              .AddColumn(new Column("Description").SetOrderSequence(new List<OrderDirection>(){OrderDirection.Asc, OrderDirection.Desc}))
              .AddColumn(new Column("Action").SetTitle("Action").SetOrderable(false))
              .SetLengthMenu(new [] { 5, 10, 15, 20, 50 }).SetPageLength(10)
              .SetOrder(new List<Order>
              {
                  new Order(0,OrderDirection.Asc),
                  new Order(1,OrderDirection.Asc)
              })
              .SetPagingType(PagingType.FirstLastNumber))

    </div>
</div>