@using MvcJqDataTables
@{
    ViewBag.Title = "Home Page";
    var s = new Guid().ToString();
}

@section scripts
{
    <script type="text/javascript">
        cc = function( row, data, dataIndex ) {
//            var id = "@s";
//            console.log(id);
//            console.log(data.Action);
        }
    </script>
}

<div class="jumbotron">
    <h1>MvcJqDataTables</h1>
    <p class="lead">MvcJqDataTables is a library building DataTables for ASP.NET MVC Application using HtmlHelper.</p>
    <p><a href="https://github.com/dfChicken/MvcJqDataTables" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @(Html.DataTable("SearchResultTable")
            .SetUrl(Url.Action("GetTestData"))
            .AddColumn(new Column("Id").SetWidth("10%"))
            .AddColumn(new Column("Name"))
            .AddColumn(new Column("Description"))
            .AddColumn(new Column("Action").SetTitle("Action").SetOrderable(false))
        )
        
    </div>
</div>