@using MvcJqDataTables
@using MvcJqDataTables.Enums
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript">
        executeSearch = function () {
            console.log("ext-search");
        }

        externalSearch_frmSearchPost = function () {
            var paramStr = $("#frmSearchPost").serialize();
            console.log(paramStr);
            return $("#frmSearchPost").serialize();
        }
    </script>
}

<div class="jumbotron">
    <h1>MvcJqDataTables</h1>
    <p class="lead">MvcJqDataTables is a library building DataTables for ASP.NET MVC Application using HtmlHelper.</p>
    <p><a href="https://github.com/dfChicken/MvcJqDataTables" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<form id="frmSearchPost">
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group">
                <div class="col-xs-4">
                    <label for="Id">Id</label>
                </div>
                <div class="col-xs-8">
                    <input class="form-control" id="Id" name="Id" type="number" value="">
                    <span class="field-validation-valid" data-valmsg-for="Id" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group">
                <div class="col-xs-4">
                    <label for="Name">Name</label>
                </div>
                <div class="col-xs-8">
                    <input class="form-control" id="Name" name="Name" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" onclick="executeSearch();"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        @(Html.DataTable("SearchResultTable")
              .SetUrl(Url.Action("GetTestData"))
              .AddColumn(new Column("Id").SetWidth("10%"))
              .AddColumn(new Column("Name"))
              .AddColumn(new Column("Description"))
              .AddColumn(new Column("Action").SetTitle("Action").SetOrderable(false))
              .SetLengthMenu(new[] { 5, 10, 15, 20, 50 }).SetPageLength(10)
              .AddExtraParameters(new List<Parameter>()
              {
                  new DataParameter("cc","coincard"),
                  new FunctionParameter("cc2","executeSearch")
              })
              )

    </div>
</div>
<script type="text/javascript">

</script>